@import url('https://fonts.googleapis.com/css?family=Poppins');
:root{
  --primary-color-background:#fff;
  --title-color:#000;
  --content-heading-color: #cd5b3a;
  --content-color: #333;
  --folly-color:#FF004F;
  --icon-primary-color:#ababab;
  --card-bg: #f7f7f7;
  --card-bg-folly-color: #f1f1f1;
  --card-hover-bg-folly-color:#f1f1f1;
  --border-1px: #ececec;
  --button-text-color:#fff;
  --button-see-more-txt-color: #FF004F;
  --form-input-bg: #e3e3e3;
  --h1-font:2.4rem;
  --services-para-font-weight: 400;
  --para-font-weight: 500;
  --mood-border-color: #adadad;
  --mood-hover-bg: #f1f1f1;
  --contact-color: #6d6d6d;
  --contact-link-color: #e1537f;
  --copyright-color: #747474;
  --modal-bg: rgb(0 0 0 / 88%);
  --modal-content-bg: #2c2c2c;
}

/* Dark theme */
body.dark{
  --primary-color-background:#0A0F1E;
  --title-color:#fff;
  --content-heading-color: #bf8777;
  --content-color: #fff;
  --folly-color:#FF004F;
  --icon-primary-color:#ababab;
  --card-bg: #141C25;
  --card-hover-bg-folly-color:#FF004F;
  --border-1px: #000;
  --button-text-color:#fff;
  --button-see-more-txt-color:#fff;
  --form-input-bg:#141C25;
  --h1-font: 2rem;
  --services-para-font-weight: 300;
  --para-font-weight: 300;
  --mood-border-color: #5d5d5d;
  --mood-hover-bg: #2e2e2e;
  --contact-color: #c3c3c3;
  --contact-link-color :#ab6565;
  --copyright-color: #ababab;
  --modal-bg: rgb(13 15 36 / 92%);
  --modal-content-bg: #252a39;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--primary-color-background);
  color: var(--content-color);
}

/* .dark {
  background-color: #090909;
  color: #fff;
  }
  .light {
  background-color: #fff;
  color: #333;
  } */

h1{
  font-size: var(--h1-font)
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url('../public/images/desktop_bg3.png');
  background-size: cover;
  background-position: center;
}

body.light #header{
  background-image: url('../public/images/desktop_light_bg2.png');
}

.container{
  padding: 18px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 30px;
  padding-top: 12px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: var(--title-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: "";
  width: 0;
  height: 3px;
  background: var(--folly-color);
  position: absolute;
  left:0;
  bottom:-6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}



nav button{
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  padding: 6px;
  width: 36px;
  height: 36px;
  border: 1px solid #adadad;
  transition: 0.5s;
}

nav button:hover{
  background-color: var(--mood-hover-bg);
  border: 1px solid #c3c3c3;
}

nav button .fa-solid{
  display: inline;
  font-size: 20px;
  color: var(--content-color);
}

nav button .fa-solid.sun{
  display: none;
}

nav .menuAction{
  display: none;
}

body.dark nav button .fa-solid.moon{
  display: none;
}

body.dark nav button .fa-solid.sun{
  display: inline;
  font-size: 20px;
  color: var(--content-color);
}

.header-text{
  margin-top: 16%;
  font-size: 34px;
}

.header-text h1{
  font-size: 50px;
  margin-top: 22px;
}

.header-text p{
  font-weight: 400;
}

.header-text h1 span{
  color: var(--folly-color);
}

#about{
  padding: 80px 0;
  color:var(--content-color);
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 14px;
}

.about-col-2{
  flex-basis: 60%;
}

.subtitle{
  font-size: 60px;
  font-weight: 600;
  color: var(--title-color);
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: var(--title-color);
  background-color: transparent;
  outline: none;
  border: 0;
}

.tab-links::after{
  content: '';
  width: 0;
  position: absolute;
  left:0;
  bottom: -8px;
  height: 3px;
  background-color: var(--folly-color);
  transition: 0.5s; 
}

.tab-links.active::after{
  width: 60%;
}

.tab-contents ul{
  margin-bottom:18px;
}

.tab-contents ul li{
  list-style: none;
  margin:4px 0;
  color: var(--content-color);
  font-weight: var(--services-para-font-weight);
    font-size: 15px;
}

.tab-contents ul li span{
  font-size: 15px;
  color: var(--content-heading-color);
  font-weight: 500;
}

/* .tab-contents {
  display: none;
} */

.tab-contents{
  
  transition: 0.5s;
}

/* Services Page Css */

#services{
  padding: 30px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list .card-parent{
  /* background-color: var(--card-bg); */
  background-color: var(--card-bg);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 14px;
  transition: background 0.5s, transform 0.5s;
}

.services-list .card-parent h2{
  font-size:30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list .card-parent p{
  font-weight: var(--services-para-font-weight);
}

.services-list .card-parent a{
  text-decoration: none;
  color: var(--title-color);
  font-size: 12px;
  margin-top:20px;
  display: inline-block;
  border-bottom: 1px solid #464646;
}

.services-list .card-parent .fa-solid{
  font-size: 35px;
  margin-bottom: 30px;
}

.services-list .card-parent .fa-solid-2{
  font-size: 38px;
  margin-bottom: 20px;
}

.services-list .card-parent button{
  border: 0;
  background-color: transparent;
  margin-top: 16px;
  cursor: pointer;
  color: var(--title-color);
  font-weight: 500;
  /* position: absolute; */
  /* bottom: 30px;
  left: 42px; */
}

.services-list .modal-window-parent .fa-solid-2 {
  font-size: 22px;
  margin-bottom: 0px;
}

.services-list .card-parent:hover{
  background: var(--card-hover-bg-folly-color);
  /* transform: translateY(-10px); */
}

.services-list .card-parent:hover button.see-more{
  border-bottom: 1px solid var(--contact-color);
}

.services-list .card:hover a{
  border-bottom: 1px solid var(--title-color);
}

.services-list .modal-window-parent{
  position: fixed;
    width: 100%;
    height: 100%;
    
  display: block;
    margin: 0;
    display: grid;
    place-items: center;
}
.services-list .modal-window-parent.active{
  inset: 0;
  z-index: 2;
  background-color: var(--modal-bg);
}

.services-list .modal-window-parent .content{
  position: absolute;
  width: 640px;
    /* height: 100%; */
    padding: 28px 36px;
    background-color: var(--modal-content-bg);
    border-radius: 8px;
    color: var(--title-color);
}

.services-list .modal-window-parent .closeButton{
  position: absolute;
    background: transparent;
    border: 0;
    color: #fff;
    top: 0px;
    right: 14px;;
    cursor: pointer;
}

.services-list .modal-window-parent .content .heading{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.services-list .modal-window-parent .content .para{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}



.services-list .modal-window-parent .content p{
  display: block;

}

.services-list .modal-window-parent .content li{
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 300;
  list-style: none;

  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  margin-bottom: 4px;
}

.services-list .modal-window-parent .content .fa-solid{
  /* align-self: center; */
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0px;
}

/* Portfolio Page Css */
#portfolio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-1px);
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 16px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  color: #fff;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: var(--folly-color);
  text-decoration: none;
  font-size: 10px;
  line-height: 54px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius:50%;
  text-align: center;
}
.layer a .fa-solid{
  color: var(--folly-color);
  font-size: 16px;
}


.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--folly-color);
  padding: 14px 50px;
  text-decoration: none;
  border-radius: 6px;
  color: var(--button-see-more-txt-color);
  transition: background 0.5s;
}

.btn:hover{
  color: var(--button-text-color);
  background: var(--folly-color);
}

/* Contact page css */

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p .fa-solid{
  color: var(--folly-color);
  margin-right: 15px;
  font-size: 18px;

}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 22px;
  margin-right: 15px;
  color: #848484;
  display: inline-block;
  transition: transform 0.5s;
}

/* .social-icons a:hover{
  color: var(--folly-color);
  transform: translateY(-5px);
} */

.btn.btn2{
  display: inline-block;
  background: var(--folly-color);
  color: var(--button-text-color);
}

.contact-right form{
  width: 100%;
}

.container.contact-main{
  text-align: center;
}

.contact-card-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin: 50px 240px 70px;
}

.contact-card{
  padding: 20px 20px;
  font-size: 16px;
  text-align: center;
  background-color: var(--card-bg);
  border-radius: 6px;
  letter-spacing: .2px;
  font-weight: var(--para-font-weight);
  border: 1px solid var(--border-1px);
}

.contact-card:hover{
  border: 1px solid var(--border-1px);
}


.contact-card p:nth-child(3){
  font-weight: var(--services-para-font-weight);
  color: var(--contact-color);
  margin-top: 1px;
  font-size: 15px;
}

.contact-card-list.social-icons .fa-solid{
  margin-right: 0px;
  color: var(--title-color);
  font-size: 21px;
  margin-bottom: 5px;
}

.contact-card-list.social-icons .fa-solid.arrow{
  font-size: 10px;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 4px;
  color: var(--contact-link-color);
  transition: transform 0.5s;
}

.contact-card-list a.link{
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 0;
  color: var(--contact-link-color);
}

.contact-card:hover .fa-solid.arrow{
  transform: translateX(5px);
}

form input, form textarea{
  width: 100%;    
  border: 0;
  outline: none;
  background: var(--form-input-bg);
  padding: 15px;
  margin: 15px 0;
  color: var(--content-color);
  font-size: 18px;
  border-radius: 6px;
  resize: none;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#msg{
  font-size: 16px;
  color: var(--folly-color);
  display: block;
  margin-top: -20px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 24px 0;
  background: var(--card-bg);
  font-weight: 300;
  margin-top: 20px;
  color: var(--copyright-color);
  font-size: 14px;
}

.copyright .fa-solid{
  
  color: #adadad;
}
nav .fa-solid{
  display: none;
}

/* Responsive CSS */
@media only screen and (max-width: 900px) {
  #header{
      background-image: url(../public/images/mobile_bg.png);
  }

  body.light #header{
    background-image: url(../public/images/mobile_bg_light.png);
  }

  .header-text{
      margin-top: 0%;
      font-size: 22px;
  }

  .header-text h1{
      font-size: 30px;
  }
   
  nav .fa-solid{
      display: block;
      font-size: 25px;        
  }

  nav ul{
      background: var(--folly-color);
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: 0.5s;
  }

  nav .menuAction {
    display: inline;
}

  nav ul.active{
    right: 0px;
  }


  nav ul.active .fa-bars{
    display: none;
  }

  nav ul li{
      display: block;
      margin: 25px;
  }

  nav .fa-solid.fa-times{
      position: absolute;
      top: 35px;
      right: 35px;
      cursor: pointer;
      /* display: none; */
      z-index: 2;
  } 

  nav button{
    margin: 25px;
    border-color: var(--title-color);
  }

  .subtitle{
      font-size: 40px;
  }

  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }

  .about-col-1{
      margin-bottom: 30px;
  }

  .about-col-2{
      font-size: 16px;
  }

  .tab-links{
      font-size: 16px;
      margin-right: 20px;
  }

  .tab-contents ul li span, .tab-contents ul li{
    font-size: 16px;
  }

  .services-list .card-parent p{
    font-size: 15px;
  }

  .contact-left, .contact-right{
      flex-basis: 100%;
  }

  .contact-card-list{
    margin: 50px 0px 70px;
  }

  .copyright{
    font-size: 12px;
    margin: 0px;
    padding: 20px 52px;
  }
}